/*
 * App CUSTOM theme SCSS
 * ----------------------------------------------------------------------------
 * Place here custom styles.
 */

 .is-pre-avalicao core-mod-icon {
    background-color: var(--activitypreavaliacao) !important;
}
.is-pos-avalicao core-mod-icon {
    background-color: var(--activityposavaliacao) !important;
}
.is-videoaula core-mod-icon {
    background-color: var(--activityvideoaula) !important;
}

/*
 * Light Theme
 * -------------------------------------------
 */
html {

}

/*
 * Dark Theme
 * -------------------------------------------
 */
html.dark {

}
